<h3 class="page-title"><a href="<%- page.link %>"><%- page.title %></a></h3>
<div class="page-summary"><%- page.summary %></div>
<div class="page-more"><a href="<%- page.link %>" class="btn">查看更多>></a></div>